</head>
<body>
  <nav>
		<!-- <i class="fas fa-film fa-2x"></i> -->
    <i>✈️</i>
    <a 
      href="/flights/new" class=<%= title === 'Add Fllight' ? 'active' : '' %>
    >
      Add Flights
    </a>
    <a 
      href="/flights" class=<%= title === 'All Fllight' ? 'active' : '' %>
    >
      All Flights
    </a>
  </nav>